.product-container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #DEE1E6;
  color: #000000;
}

.product-image {
  width: 350px;
}
.product-container h4,p,a {
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 10px;
}
.product-container p {
  margin: 0 !important;
}
.product-container a {
  text-transform: uppercase;
  color: green !important;
  
  display: block;
}
.button-container {
  margin-top: 10px;
}

.add-to-cart {
  cursor: pointer;
  width: fit-content;
  padding: 0.5em 1em;
  border: 1px solid #DEE1E6;
  margin: 0 auto 15px;
  border-radius: 10px;
}
.add-to-cart:hover {
  background: brown;
  color: #ffffff;
  border-color: brown;
}
.remove-from-cart {
  cursor: pointer;
  width: fit-content;
  padding: 0.5em 1em;
  background-color: bisque;
  border: 1px solid brown;
  color: brown;
  margin: 0 auto;
  border-radius: 10px;
}
