.wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.wrapper .user-wrapper{
    width: 25%;
    height: 50%;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid orange;
}

.wrapper .user-wrapper button{
    margin-bottom: 1em;
}
.home-container a {
    text-decoration: none;
}
.course-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }